/* src/components/Message/Message.css */
.message {
  display: flex;
  flex-direction: column;
  width: 100%; /* Extend across the available space */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in width */
}

.message.read {
  background-color: #f0f0f0;
}

.message.unread {
  background-color: #f18f8f;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #555;
}

.message-content {
  margin-top: 5px;
  font-size: 1em;
  color: black;
}

/* Responsive text size for mobile screens */
@media (max-width: 768px) {
  .message-content {
    font-size: 1.2em; /* Increase text size for mobile */
  }

  .message-header {
    font-size: 1em; /* Adjust header size for mobile */
  }
}
