/* client/src/components/Chat/Chat.css */
.chat {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  padding-bottom: 60px; /* Space for the fixed input */
  overflow-y: auto; /* Allow scrolling for messages */
}

.chatMessage {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.sent {
  align-self: flex-end;
  background-color: #d1ffd1;
}

.received {
  align-self: flex-start;
  background-color: #f1d1d1;
}

.chatMessage-content {
  margin-bottom: 5px;
  color: black;
}

.chatMessage-timestamp {
  font-size: 0.8em;
  color: #888;
}

.messageInputContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.messageInputContainer form {
  display: flex;
  align-items: center;
}

.messageInputContainer input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.messageInputContainer button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.messageInputContainer button:hover {
  background-color: #0056b3;
}
