.navbar,
.outlet {
  width: 100%; /* Ensure full width for navbar and outlet */
  box-sizing: border-box; /* Include padding and border in width */
}

/* src/components/NavBar.css */
.navbar {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.navbar a.active {
  color: #007bff;
}

.AuthNavMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.NoAuthNavMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}